.myCarouselCss>div{
    height: 349px;
}

.myCarouselCss>div>img{
    height: inherit!important ;
    width:100%;
}

.welcome-navegation{
    height: 8%;
    width: 100%;
}

.welcome-body{
    height: 82%;
    width: 100%;
}

.welcome-footer{
    height: 10%;
    width: 100%;
}
